<div class="l-page{% if is_front %} front-page{% endif %}">

    {{ page.header }}

    {{ page.breadcrumb }}

    <div class="l-main">
        <div class="l-content" role="contentinfo">

            {% if is_front %}
                {{ page.highlighted }}
                {% include '@ddd2016/includes/home-hero.html.twig' %}
            {% endif %}

            {% if page.platinum_sponsors %}
                {{ page.platinum_sponsors }}
            {% endif %}

            {% if page.featured_first %}
                <div class="section section1" id="section1">
                    <div class="section-inner">
                        <div class="bg-img">
                            <img src="{{ directory }}/images/backgrounds/bg1.png" alt="image"/>
                        </div>
                        <div class="text-wrapper">
                            <div class="text-container">
                                <div class="text-inner">
                                    {{ page.featured_first }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if page.featured_sprints %}
            <div class="section featured-sprints">
                <div class="section-inner">
                    <div class="text-wrapper">
                        <div class="text-container">
                            <div class="text-inner">
                                {{ page.featured_sprints }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if page.featured_second %}
                <div class="section section2" id="section2">
                    <div class="section-inner">
                        <div id="plane"><img src="{{ directory }}/images/plane.png" alt="plane"/></div>
                        <div id="scenario-section2">
                            <div class="bg-img">
                                {#<img src="{{ directory }}/images/backgrounds/bg2.png" alt="image" />#}
                            </div>
                        </div>
                        <div class="text-wrapper">
                            <div class="text-container">
                                <div class="text-inner">
                                    {{ page.featured_second }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if page.all_sponsors %}
                {{ page.all_sponsors }}
            {% endif %}

            {% if page.featured_third %}
                <div class="section section3" id="section3">
                    <div class="section-inner">
                        <div class="bg-img">
                            {#<img src="{{ directory }}/images/backgrounds/bg3.png" alt="image" />#}
                        </div>
                        <div id="triangle"><img src="{{ directory }}/images/triangle1.png" alt="triangle"/></div>
                        <div class="text-wrapper">
                            <div class="text-container">
                                <div class="text-inner">
                                    {{ page.featured_third }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ page.featured_fourth }}

            {{ page.highlighted }}

            {% if not is_front %}
                {{ page.content }}
            {% endif %}

        </div>

        {% if page.sidebar_first %}
            <aside id="aside" role="complementary">
                {{ page.sidebar_first }}
            </aside>
        {% endif %}

    </div>

    <div class="form-container">
        <div class="form-wrapper">

            <h2>Get notified!</h2>

            <p class="paragraph"><em>Sign up to receive updates about the Drupal Developer Days 2016</em></p>

            <div class="form-container">
                <form class="notified-form" id="get-notified-form" action="//drupalitalia.us2.list-manage.com/subscribe/post?u=4154a141a3774f5ff66e43991&amp;id=7889baa75a" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <input type="hidden" name="b_4154a141a3774f5ff66e43991_7889baa75a" tabindex="-1" value="" />
                    <input class="form-item text-field-input" id="email" type="email" placeholder="Enter your email address" name="EMAIL" required="required">
                    <input class="form-item submit-input" type="submit" value="Subscribe">
                </form>
                <p><a class="contact-us-link button dark-button" href="/contact/contact_us">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="l-footer">
        Drupal Developer Days 2016 - VAT IT94562760010
        <div class="social-block">
            <ul>
                <li class="social-link twitter"><a href="https://twitter.com/drupaldevdays" target="_blank"><span>Twitter</span></a></li>
                <li class="social-link facebook"><a href="https://www.facebook.com/drupaldevdays" target="_blank"><span>Facebook</span></a></li>
                <li class="social-link gplus"><a href="https://plus.google.com/115505360330252393766" target="_blank"><span>Google Plus</span></a></li>
                <li class="social-link pinterest"><a href="https://www.pinterest.com/drupaldevdays/" target="_blank"><span>Pinterest</span></a></li>
                <li class="social-link instagram"><a href="https://www.instagram.com/drupaldevdays/" target="_blank"><span>Instagram</span></a></li>
                <li class="social-link youtube"><a href="https://www.youtube.com/channel/UCOT1x19hm0sCJ3cfmJNTnQw" target="_blank"><span>Youtube</span></a></li>
                <li class="social-link flickr"><a href="https://www.flickr.com/photos/144267138@N08/" target="_blank"><span>Flickr</span></a></li>
            </ul>
        </div>
        <div class="footer-links">
            <div>Drupal.org issue queue tag: DevDaysMilan</div>
            <div>Social media hashtag: #drupaldevdays</div>
            <br/>
            <a href="/copyright-notice">copyright notices</a>
        </div>
    </div>

</div>
