<header class="l-header">
    <div class="branding">
        <div class="logo">
            <a href="/" title="Home" rel="home" class="site-logo">
                <img srcset="/{{ directory }}/images/logo.png 1x, /{{ directory }}/images/logo-large.png 2x"
                     src="/{{ directory }}/images/logo.png"
                     class="logo-regular"
                     alt="Drupal Developer Days logo"/>
                <img srcset="/{{ directory }}/images/logo-white.png 1x, /{{ directory }}/images/logo-white-large.png 2x"
                     src="/{{ directory }}/images/logo-white.png"
                     class="logo-white"
                     alt="Drupal Developer Days logo"/>
            </a>
        </div>
        <div class="l-region l-region--branding">
            {{ elements.ddd2016_mainnavigation }}
            <a id="menu-btn-close" class="meanmenu-close"><span></span><span></span></a>
        </div>
        <div class="submit-session">
            <a id="cta-session-btn" href="/schedule/2016-06-23">Schedule</a>
        </div>
        <div class="buy-tickets">
            <a id="cta-btn" href="http://drupal-dev-days-2016.eventbrite.it" target="_blank">Buy ticket</a>
        </div>
        <div class="menu-reveal">
            <a id="menu-btn" class="meanmenu-reveal">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>
