<div class="animated-signs-container">

    <div class="gear1-container"><img class="svg-gear" src="{{ directory }}/images/gear-big1-01.svg">
    </div>
    <div class="gear2-container"><img class="svg-gear slow"
                                      src="{{ directory }}/images/gear-big1-01.svg"></div>
    <div class="gear3-container"><img class="svg-gear back" src="{{ directory }}/images/gear3-01.svg">
    </div>
    <div class="signs1-container">
        <div class="w-embed">
            <!--?xml version="1.0" encoding="utf-8"?-->
            <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="500px"
                 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
              <path id="XMLID_3_" class="line-signs" d="M385.8,305.9
              c-12.8,27.9-52.7,76.8-103.6,105.2c-85.8,47.9-191.5,36.5-247.7-44.1C-21.7,286.5-2,175.6,78.6,119.4
              c80.6-56.2,191.5-36.5,247.7,44.1c37.4,53.6,41.2,120.6,15.8,176"></path>
                <path id="XMLID_2_" class="line-signs" d="M24,13.6
              C340.3,44.2,414.4,466.9,192,486.3"></path>
                <path id="XMLID_4_" class="line-signs" d="M48.6,319.1
              c0,0,473.6,2.4,443.6,0"></path>
                <path id="XMLID_5_" class="line-signs" d="M321.6,97.1
              c0,0-2.4,315.6,0,285.6"></path>
                <circle class="line-signs" cx="138.8" cy="150.1" r="88.8"></circle>
            </svg>
        </div>
    </div>
    <div class="signs2-container">
        <div class="w-embed">
            <!--?xml version="1.0" encoding="utf-8"?-->
            <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="730px"
                 viewBox="0 0 500 730" style="enable-background:new 0 0 500 730;" xml:space="preserve">
              <path id="XMLID_7_" class="line-signs2" d="M291.3,16.6
              c0,0-2.4,565.6,0,535.6"></path>
                <circle class="line-signs2" cx="339.8" cy="56.5" r="48.5"></circle>
                <path id="XMLID_8_" class="line-signs2" d="M397,342.9
              c0,0-401.7,398.2-378.7,378.7"></path>
                <path id="XMLID_9_" class="line-signs2" d="M486.6,314.7
              c-12.8,27.9-52.7,76.8-103.6,105.2c-85.8,47.9-191.5,36.5-247.7-44.1s-36.5-191.5,44.1-247.7C259.9,72,370.8,91.7,427,172.3
              c37.4,53.6,41.2,120.6,15.8,176"></path>
            </svg>
        </div>
    </div>
    <div class="logo-signs">
        <img src="{{ directory }}/images/logo-signs.png">
    </div>
    <div class="logo-signs bis">
        <img src="{{ directory }}/images/logo-signs.png">
    </div>
</div>

<div class="section section0 parallax1" id="section0">
    <div class="section-inner">
        <div>
            <div class="logo-hero">
                <div class="drop">
                    <div class="w-embed drop-embed">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px"
                             height="317px" viewBox="0 0 300 317"
                             style="enable-background:new 0 0 300 317;"
                             xml:space="preserve">
                    <g id="drop">
                        <path style="fill:#F29132;" d="M220.8,189.1c1.8-2.4,9.7,39.2-26.5,65.8c-25.2,18.6-56,18.2-56,18.2s6.1-12.2,24.4-21
                      c18.3-8.8,41.8-25.9,48.3-34.3C222,203.7,220.8,189.1,220.8,189.1 M114.5,102.5C139.3,84.2,154.8,69,154.8,69
                      c-13.7-9.8-29.7-17.3-48-19.7c0,0,7.7,27.4-32.7,78.3C74.1,127.7,96.3,116,114.5,102.5z M162.2,73.9c5.7,6.1-1.6,24.6-23.9,41.4
                      c-19.5,14.7-54.7,31.1-69.7,42.4c-9.3,7.1-15.4,21-15.4,27.3s2.2,31.1,7.7,36.9l0,0c-8-11.1,43.5-32.6,85.3-61.8
                      c60.7-42.4,39.4-61.8,39.4-61.8c-8-8.4-13.9-16.9-23.2-24.6 M108,269.3c-13.5-6.3,33.7-31.1,75.3-56.5
                      c43.1-26.3,38.6-50.1,38.6-50.1c-0.2-0.4-9.1-30.6-16.8-35.9c2,0.6,4.7,16.5-24.7,40.7c-18.9,15.5-77.2,40.8-92.3,52.2
                      c-9.3,7.1-16.3,19.4-12.7,24.9C79.1,249.9,89.8,263.9,108,269.3"></path>
                        <path style="fill:#B42B2D;" d="M211,217.8c-6.5,8.4-30,25.5-48.3,34.3c-12.5,6-19.3,13.6-22.4,17.8c-18.6,2-25.7,0.8-32.4-0.6l0,0
                      c0,0,0,0,0,0c-7.5-3.5,3.9-12.8,22.7-24.7c12.6-0.1,64.9-21.7,90.2-55.4C220.8,189.1,222,203.7,211,217.8z M107.2,269
                      c0.2,0.1,0.5,0.2,0.7,0.3c0,0,0,0,0,0C107.7,269.2,107.5,269.1,107.2,269z M205.4,127c-0.1-0.1-0.3-0.2-0.4-0.3
                      c-4.7-1.9-39.9,41.3-92.2,55c0,0-0.3,0.1-0.8,0.2c-30.1,17.8-55.7,31.3-51.5,39.5c0.2,0.4,0.4,0.6,0.4,0.6c2,2.8,8.2,4.9,18.7,6.3
                      l0,0c2.3-3.2,5.3-6.3,8.5-8.7c15-11.4,73.4-36.6,92.3-52.2C207.8,144.7,207.3,129.4,205.4,127z M205.3,126.9c0,0,0.1,0.1,0.1,0.1
                      c0.1,0,0.1,0.1,0.2,0.1C205.5,127,205.4,126.9,205.3,126.9z M75.2,138c7-0.7,41.1-8.5,41.1-8.5l0.1-0.1c8.1-4.7,15.7-9.5,21.9-14.1
                      c22.3-16.8,29.6-35.3,23.9-41.4c-2.1-2.3-6.1-2.8-11.8-0.8c-6.3,5.7-18.9,16.9-36,29.5c-18.2,13.5-40.4,25.1-40.4,25.1
                      S62.9,139.2,75.2,138z"></path>
                    </g>
                            <path id="XMLID_6981_" class="line-path" d="M221.4,186.7
                    c-24.9,33.2-76.6,64.1-102.5,49.9"></path>
                            <path id="XMLID_6980_" class="line-path short" d="M129.3,128.7
                    c0,0-40.8,7.9-51.1,7.8c-12.1-0.1-1.1-10.2-1.1-10.2"></path>
                            <path id="XMLID_6979_" class="line-path" d="M221.4,186.7
                    c0,0,1.2,14.3-9.6,28.2c-6.4,8.3-29.5,25.1-47.5,33.7c-18,8.7-24,20.7-24,20.7s30.3,0.4,55.1-17.9
                    C230.9,225.3,223.1,184.4,221.4,186.7"></path>
                            <path id="XMLID_6978_" class="line-path" d="M77.1,126.3
                    c39.7-50,31.7-79.2,31.7-79.2"></path>
                            <path id="XMLID_6977_" class="line-path" d="M104.7,49.3
                    c18,2.3,38.3,9.6,51.8,19.3c0.1,1-14.8,14.5-39.7,33c-17.9,13.3-39.7,24.7-39.7,24.7"></path>
                            <path id="XMLID_6976_" class="line-path short" d="M205.8,125.4
                    c-15-5.4-66.5,58.4-135.8,58.4"></path>
                            <path id="XMLID_6975_" class="line-path" d="M64.1,219.1
                    c-5.4-5.8-7.5-30.2-7.5-36.3s5.9-19.9,15.1-26.9c14.8-11.2,49.4-27.3,68.6-41.7c21.9-16.5,29.1-34.7,23.5-40.7"></path>
                            <path id="XMLID_6974_" class="line-path" d="M160.3,150.7
                    c-41.6,31.2-112.8,64.2-100.6,76.2"></path>
                            <path id="XMLID_6973_" class="line-path" d="M163.8,73.3
                    c9.2,7.6,14.9,15.9,22.8,24.2c0,0,17.8,18.2-41.8,59.8"></path>
                            <path id="XMLID_6972_" class="line-path" d="M60.3,216
                    c3.4,10.9,28.7,44.3,50.1,49.6l0,0c6.7,1.5,13.9,2.6,32.9,0.5c0,0,0.6,0,1.7-0.1"></path>
                            <path id="XMLID_6971_" class="line-path" d="M207.4,104.7
                    c0,0,16.9,26.4-25.3,56.4c-21.9,15.5-84.3,45.2-100.7,57.8c-10.2,7.8-14.2,19.5-10.2,25.6"></path>
                            <path id="XMLID_6970_" class="line-path" d="M105.4,272.4
                    c-22.1-14.8,38.7-37.9,79.1-62.4c42.4-25.7,38-49.3,38-49.3c-0.2-0.4-8.3-40.5-22.7-43.7"></path>
                            <path id="XMLID_6969_" class="line-path" d="M211.8,202.8
                    c-29.6,29.1-85.3,51.8-108.9,34"></path>
                            <path id="XMLID_6968_" class="line-path" d="M222,181.1
                    c13.2,30.3-8.4,77.1-65.3,84.2"></path>
                            <path id="XMLID_6967_" class="line-path" d="M164.2,71.4
                    c2.2,0.1,22.2,0.8,23.3,2"></path>
                            <path id="XMLID_6966_" class="line-path" d="M62,150.7
                    c74.1-73.8,44.2-118.2,44.2-118.2"></path>
                            <path id="XMLID_6965_" class="line-path" d="M90.5,45.7
                    c21.3,2.3,52.4,11,65.9,20.7c0.1,1-14.8,14.5-39.7,33c-17.9,13.3-39.7,24.7-39.7,24.7"></path>
                            <path id="XMLID_6964_" class="line-path" d="M62.1,202
                    c-1.6,18.5,15.2,24.3,26.9,24.4"></path>
                            <path id="XMLID_6963_" class="line-path" d="M204.3,115.4
                    c12.1-2.5,20.7,22.4-22.8,50c-20.3,12.9-75.9,40.1-90.7,51.3c-9.2,6.9-12.8,17.3-9.2,22.7"></path>
                            <path id="XMLID_6962_" class="line-path" d="M173.5,58.5
                    c0,0,16.9,26.4-25.3,56.4c-21.9,15.5-84.3,45.2-100.7,57.8c-10.2,7.8-14.2,19.5-10.2,25.6"></path>
                            <path id="XMLID_6961_" class="line-path spiral" d="M243,207.9
                    c-6.4,13.9-26.3,38.4-51.8,52.6c-42.9,24-95.7,18.2-123.8-22s-18.3-95.7,22-123.8c40.3-28.1,95.7-18.2,123.8,22
                    c18.7,26.8,20.6,60.3,7.9,88"></path>
                            <path id="XMLID_6960_" class="line-path" d="M51.3,55
                    c158.2,15.3,195.2,226.6,84,236.4"></path>
                            <path id="XMLID_6959_" class="line-path long" d="M75.7,10.8
                    c0,0-2.4,307.7,0,277.7"></path>
                            <path id="XMLID_6958_" class="line-path long" d="M232,310.9
                    c0,0,2.4-334,0-304"></path>
                            <path id="XMLID_6957_" class="line-path long" d="M43.6,291
                    c0,0,233.6,2.4,203.6,0"></path>
                            <path id="XMLID_6955_" class="line-path" d="M43.6,98
                    c0,0,233.6,2.4,203.6,0"></path>
                            <path id="XMLID_6954_" class="line-path" d="M67.4,32
                    c0,0,139,2.4,121.2,0"></path>
                            <path id="XMLID_6953_" class="line-path" d="M225.8,104.7
                    c0,0-235.8-2.4-205.5,0"></path>
                            <path id="XMLID_6952_" class="line-path" d="M116.1,24.9
                    c0,0,165,168.5,145.3,145.3"></path>
                            <path id="XMLID_6951_" class="line-path" d="M9.1,65.7
                    c-7.4-5.4,175.5,169.9,225.3,215"></path>
                  </svg>
                    </div>
                </div>
                <div class="logo-hero-text" data-ix="appear">
                    <img src="{{ directory }}/images/logo-text.png">
                </div>
            </div>
        </div>
    </div>
</div>
