<div class="node node--keynote">
    {{ content.field_keynote_date }}

    {{ content.field_keynote_abstract }}

    <div class="keynote--group-speaker clearfix">
        <h4>The speaker</h4>

        {{ content.field_keynote_picture }}

        {{ content.field_keynote_name }}

        {{ content.field_keynote_role }}

        {{ content.field_keynote_full_biography }}
    </div>

    <div class="keynote--group-company clearfix">
        <h4>The company</h4>

        {{ content.field_keynote_company_logo }}

        {{ content.field_keynote_company_name }}

        {{ content.field_keynote_company_biography }}
    </div>
</div>
