<div class="node node--keynote">
    {{ content.field_session_date }} - {{ content.field_session_time_slot }}

    {{ content.field_keynote_abstract }}

    <div class="keynote--group-speaker clearfix">
        <h4>The speaker</h4>

        {{ content.field_keynote_picture }}

        {{ content.field_keynote_name }}

        {{ content.field_keynote_role }}

        {{ content.field_keynote_full_biography }}
    </div>

    {% if render_var(content.field_keynote_company_biography)|length > 0 %}
    <div class="keynote--group-company clearfix">
        <h4>The company</h4>

        {{ content.field_keynote_company_logo }}

        {{ content.field_keynote_company_name }}

        {{ content.field_keynote_company_biography }}
    </div>
    {% endif %}

    <div class="keynote--slides clearfix">
        {% if render_var(content.field_slides)|length > 0 %}
            {{ content.field_slides }}
        {% else %}
            <strong class="slides-unavailable">The slides for this keynote are not available.</strong>
        {% endif %}
    </div>
</div>
