<header class="l-header">
    <div class="branding">
        <div class="logo">
            <a href="/" title="Home" rel="home" class="site-logo">
                <img srcset="/{{ directory }}/images/logo.png 1x, /{{ directory }}/images/logo-large.png 2x"
                     src="/{{ directory }}/images/logo.png"
                     class="logo-regular"
                     alt="Drupal Developer Days logo"/>
                <img srcset="/{{ directory }}/images/logo-white.png 1x, /{{ directory }}/images/logo-white-large.png 2x"
                     src="/{{ directory }}/images/logo-white.png"
                     class="logo-white"
                     alt="Drupal Developer Days logo"/>
            </a>
        </div>
        <div class="l-region l-region--branding">
            <nav class="mean-nav">
                <div class="block__content">
                    <ul class="menu">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="program.php">Program</a></li>
                        <li><a href="#">Venue</a></li>
                        <li><a href="participants.php">Community</a></li>
                        <li><a href="#">Sponsors</a></li>
                        <li><a href="news.php">News</a></li>
                    </ul>
                </div>
            </nav>
            <a id="menu-btn-close" class="meanmenu-close"><span></span><span></span></a>
        </div>
        <div class="buy-tickets"><a id="cta-btn" href="#">Buy tickets</a></div>
        <div class="menu-reveal"><a id="menu-btn"
                                    class="meanmenu-reveal"><span></span><span></span><span></span></a>
        </div>
    </div>
</header>
